body{
    margin: 0;
}

form{
    width: 100%;
    background-color: #ffa07a;
    height: 100vh;
    font-family: Prompt;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

form div label{
    color: black;

}